.initial {
    text-align: center;

    // max-height: 100vh;

    position: relative;

    .video {
        object-fit: fill;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        border: none;
    }

    #sentinel {
        margin-top: 28px;
    }

    .header {
        opacity: 1;
        margin: 14px 0px;
        font-weight: 700;
        font-size: 40px;
        color: #4BC7B6;
        position: relative;
        height: 30px;
    }

    img {
        width: 100%;
        margin-top: 28px
    }

    .mouseScroll img {
        width: 30px;
    }

    .download {
        height: 120px;
        position: relative;
        margin-bottom: 48px;

        button {
            opacity: 1;
            padding: 12px 48px;
            border-radius: 24px;
            font-size: 24px;
            color: #EE8C34;
            background-color: #FEF4EB;
            border: 1px solid #F7CAA2;
            cursor: pointer;
            opacity: 0.8;
          


        }

        button:hover {
            opacity: 1;
            border-width: 3px;

        }
    }

    .topDown {
        opacity: 0;
        animation: topDownHideAnimation 3s;
        position: relative;
        left: 0;
        top: 30px;
        z-index: -1
    }

    .bottomUp {
        opacity: 0;
        animation: bottomUpHideAnimation 3s;
        position: relative;
        left: 0;
        bottom: 30px;
        z-index: -1;
        margin: 0px;
    }

    .fadeOut {
        opacity: 0;
        z-index: -1;
        animation: fadeOutAnimation 4s;
    }

    .fadeOutVideo {
        opacity: 0;
        z-index: -1;
        animation: fadeOutAnimation 3s;
    }

}

@keyframes topDownHideAnimation {
    from {
        opacity: 1;
        top: 0px;
        z-index: 1
    }

    to {
        opacity: 0;
        top: 60px;
        z-index: -1
    }
}

@keyframes bottomUpHideAnimation {
    from {
        opacity: 1;
        bottom: 0px;
        z-index: 1
    }

    to {
        opacity: 0;
        bottom: 60px;
        z-index: -1
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
        z-index: 1
    }

    to {
        opacity: 0;
        z-index: -1
    }
}